body{
     margin: 0px;
}
.topbar{
     display: flex;
     justify-content: space-between;
     background-color: rgba(0,0,0,0.8);
     width: 100%;
     left: 50%;
}
.brandname{
     display: flex;
     font-family: monospace; 
     text-decoration: none;
     font-size: large; 
     margin-left: 5px; 
     color: #61DAFB;
}
.brandname img{
     height: 50px;
     width: 50px;
     margin-left: 10px;
     margin-right: 10px;
     margin-top: 15px;
}
.navbar{
     display: flex;
}
.linkwrapper{
     margin-right: 50px;
     margin-top: 30px; 
     color: white; 
     border-bottom: 1px solid transparent;
     transition: border-bottom 0.5s;
}
.linkwrapper a{
     text-decoration: none;
     font-family: monospace; 
     color: white; 
     transition: color 0.5s;
     font-weight: bold;
     font-size: 15px;
}
.linkwrapper a :hover{
     color: #8a8a8a;
}
.linkwrapper :hover{
     border-bottom: 1px solid white;
}
.banner{
     background-color: #282c34;
     color: white;
     font-size: 25px;
     font-family: monospace;
     font-weight: bold;
     position: absolute;
     top: 17%; 
     left: 50%;
     transform: translate(-50%, -50%);
     z-index: 2;
     width: 100%;
     padding: 20px;
     text-align: center;
}
.banner2{
     background-color: #282c34;
     color: white;
     font-size: 25px;
     font-family: monospace;
     font-weight: bold;
     position: absolute;
     top: 19%; 
     left: 50%;
     transform: translate(-50%, -50%);
     z-index: 2;
     width: 100%;
     padding: 20px;
     text-align: center;
}
.heading{
     margin-top: 150px;
     color: black; 
     margin-left: 80px;
     font-family: monospace;
     font-size: 20px;
}
.description{
     width: 300px;
     margin-left: 80px;
     margin-bottom: 20px; 
     font-family: monospace;
     font-size: 17px;
     line-height: 27px;
}
.content{
     display: flex; 
}